services:
  test_fastapi_app:
    container_name: test_app
    build:
      context: .
    depends_on:
      test_postgres:
        condition: service_healthy
    env_file:
      - ".env.test"
    command: [ "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000" ]
    volumes:
      - ./src:/app

  test_postgres:
    container_name: test_db
    image: postgres:16-alpine
    env_file:
      - ".env.test"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
      interval: 5s
      retries: 5
